body {
	font-family: sans-serif;
	line-height: 1.5;
	padding: 0;
	margin: 0;
	position: relative;
}

.anchor{
	color: green;
	text-decoration: none;
}

.article {
	display: grid;
	grid-template-areas: "nav content";
	grid-template-columns: 20em 1fr;
	grid-template-rows: auto;
}

a {
	text-decoration: none;
}

#header {
	background-color: #444;
	grid-area: nav;
	position: fixed;
	width: auto;
}

#toc {
	padding-top: 1em;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 2em;
	float: left;
	height: 100%;
	overflow-y: auto;
	position: fixed;
	box-sizing: border-box;
	background-color: lightgray;
}

#toc a {
	color: cornflowerblue;
}

#toc li {
	padding-bottom: .6em;
}

#toc ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#toc ul ul {
	padding-left: 1.4em;
}

#toctitle {
	font-weight: bold;
	color: black;
}

h1 {
	font-size: 1.4em;
	background-color: black;
	padding: .6em;
	margin: 0;
	color: red;
}

/*.toc2{*/
/*	float: left;*/
/*}*/

#toc a:hover {
	background-color: maroon;
}

#content {
	background-color: white;
	grid-area: content;
	/*max-width: 1000px;*/
	padding: 1em;
	margin: auto;
	float: right;
}

#content img {
	max-width: 100%;
}

pre {
	background-color: #f7f7f8;
	padding: 1em;
	word-wrap: break-word;
	white-space: pre-wrap;
}

table {
	border-collapse: collapse;
}

td, th {
	border: 1px solid gray;
	padding: .4em;
}

th {
	background-color: #f9f9f9;
	text-align: left;
}

#footer {
	float: right;
	position: absolute;
	bottom: 0px;
	visibility: hidden;
	width: 0;
	height: 0;
}