body {
	font-family: sans-serif;
	line-height: 1.5;
	padding: 0;
	margin: 0;
	overflow-y: hidden;
}

.anchor{
	color: green;
	text-decoration: none;
}

.article {
	display: grid;
	grid-template-areas: "nav content";
	grid-template-columns: 20em 1fr;
	grid-template-rows: auto;
}

a {
	text-decoration: none;
}

#header {
	background-color: black;
	background-image: url('img/header-pi4micronaut.png');
	background-size: contain;
	background-position: left;
	background-repeat: no-repeat;
	grid-area: nav;
	position: fixed;
	width: 100%;
	vertical-align: center;
	max-height:8%;
	height: 100%;
	display: inline-block;
	z-index: 10;
	margin-bottom: 0;
}

#toc {
	padding-top: 1em;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 1.5em;
	float: left;
	max-height: 100%;
	height: 100%;
	overflow-y: auto;
	position: fixed;
	box-sizing: border-box;
	background-color: gainsboro;
	max-width: 17%;
	width: 100%;
}

#toc a {
	color: royalblue;
}

#toc li {
	padding-bottom: .6em;
}

#toc ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#toc ul ul {
	padding-left: 1.4em;
}

#toctitle {
	font-weight: bold;
	color: black;
}

h1 {
	text-indent: -9999px;
	font-size: 2em;
	background-color: transparent;
	padding: .6em;
	margin: 0;
	width: 100%;
	color: white;
	height: 50%;
	vertical-align: center;
}

/*.toc2{*/
/*	float: left;*/
/*}*/

#toc a:hover {
	text-decoration: underline;
}

#content {
	background-color: white;
	overflow-y: auto;
	grid-area: content;
	padding: 1em;
	max-width: 84%;
	width: 100%;
	position: fixed;
	z-index: 1;
	max-height: 80%;
	height: 100%;
	margin-left: 17%;
	margin-right: 0;
	margin-bottom: 10%;
	margin-top: 2.5%;
	padding-bottom: 50px;
}

.hljs{
	background: #cacbca !important;
}

#content img {
	max-width: 100%;
}

.details{
	float: right;
	position: absolute;
	bottom: 0px;
	visibility: hidden;
	width: 0;
	height: 0;
}

pre {
	background-color: #f7f7f8;
	padding: 1em;
	word-wrap: break-word;
	white-space: pre-wrap;
}

table {
	grid: none;
	frame: none;
}

td, th {
	border: 1px solid gray;
	padding: .4em;
}

th {
	background-color: #f9f9f9;
	text-align: left;
}

#footer-text {
	float: right;
	position: absolute;
	bottom: 0px;
	visibility: hidden;
	width: 0;
	height: 0;
}

.title{
	font-style: italic;
	padding-top: 2em;
}