name: Deploy Javadocs to GitHub Pages
permissions:
  contents: write
  pages: write
  id-token: write
on:
  push:
    branches:
      - main
      - develop

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'
      - name: Change wrapper permissions
        run: chmod +x pi4micronaut-utils/gradlew
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
        with:
          arguments: build
          build-root-directory: pi4micronaut-utils/
      - name: Generate Javadocs
        working-directory: pi4micronaut-utils
        run: ./gradlew javadoc
  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        if: github.ref == 'refs/heads/develop'
        with:
          github_token: ${{ secrets.CI_GITHUB_TOKEN }}
          publish_dir: ./pi4micronaut-utils/build/docs/javadoc
          destination_dir: javadoc
          keep_files: true