.micronaut:
  application:
    name: components
pi4j:
  # tag::spi[]
  spi:
    rfid:                   # <1>
      name: MFRC522         # <2>
      address: 8            # <3>
      baud: 500000          # <4>
      reset-pin: 25         # <5>
  # end::spi[]
  pwm:
    # tag::pwm[]
    red-pwm:                  # <1>
      name: red               # <2>
      address: 17             # <3>
      pwmType: SOFTWARE       # <4>
      provider: pigpio-pwm    # <5>
      initial: 0              # <6>
      shutdown: 0             # <7>
    # end::pwm[]
    blue-pwm:
      name: blue
      address: 18
      pwmType: SOFTWARE
      provider: pigpio-pwm
      initial: 0
      shutdown: 0
    green-pwm:
      name: green
      address: 27
      pwmType: SOFTWARE
      provider: pigpio-pwm
      initial: 0
      shutdown: 0
  i2c:
    # tag::i2c[]
    lcd:                                  # <1>
      name: lcd                           # <2>
      bus: 1                              # <3>
      device: 0x27                        # <4>
    # end::i2c[]
  digital-input:
    # tag::digitalInput[]
    photo-resistor-input:                 # <1>
      name: Photo Resistor Input          # <2>
      address: 4                          # <3>
      debounce: 100000                    # <4>
      pull: PULL_DOWN                     # <5>
      provider: pigpio-digital-input      # <6>
    # end::digitalInput[]
    button-input-1:
      name: Push Button Input
      address: 16
      pull: PULL_DOWN
      debounce: 30
      provider: pigpio-digital-input
    button-input-2:
      name: Push Button Input
      address: 21
      pull: PULL_DOWN
      debounce: 30
      provider: pigpio-digital-input
    slide-switch-input:
      name: Slide Switch Input
      address: 18
      pull: PULL_DOWN
      debounce: 3000
      provider: pigpio-digital-input
    slide-switch-input-2:
      name: Slide Switch Input
      address: 22
      pull: PULL_DOWN
      debounce: 3000
      provider: pigpio-digital-input
  ### DIGITAL OUTPUTS
  digital-output:
    # tag::digitalOutput[]
    led:                                    # <1>
      name: LED Output                      # <2>
      address: 17                           # <3>
      shutdown: HIGH                        # <4>
      initial: HIGH                         # <5>
      provider: pigpio-digital-output       # <6>
    # end::digitalOutput[]
    led2:
      name: LED Output
      address: 26
      shutdown: HIGH
      initial: HIGH
      provider: pigpio-digital-output
    photo-resistor-output:
      name: Photo Resistor Output
      address: 27
      shutdown: LOW
      initial: HIGH
      provider: pigpio-digital-output
  multi-digital-input:
    # tag::multiInput[]
    rotary-encoder:
      name: Rotary Encoder
      addresses: 27,18,17
      debounces: 6000,500,500
      pulls: PULL_DOWN,PULL_UP,PULL_UP
      shutdown: LOW
      initial: HIGH
      provider: pigpio-digital-input
    # end::multiInput[]
    rotary-encoder-2:
      name: Rotary Encoder 2
      addresses: 12, 16, 20
      debounces: 6000, 500, 500
      pulls: PULL_DOWN, PULL_UP, PULL_UP
      shutdown: LOW
      initial: HIGH
      provider: pigpio-digital-input
  multi-pwm:
    # tag::multipwm[]
    rgb-led:
      name: RGB LED
      addresses: 17, 18, 27
      pwmTypes: SOFTWARE, SOFTWARE, SOFTWARE
      provider: pigpio-pwm
      initials: 0, 0, 0
      shutdowns: 0, 0, 0
    # end::multipwm[]
#  clk:
#    name: CLK Output
#    address: 23
#    debounce: 500
#    pull: PULL_UP
#    shutdown: LOW
#    initial: HIGH
#    provider: pigpio-digital-input
#  dt:
#    name: DT Output
#    address: 24
#    debounce: 500
#    pull: PULL_UP
#    shutdown: LOW
#    initial: HIGH
#    provider: pigpio-digital-input
